/* base */

:root{
    --color1:#E50914;
    --color2:#141414;
    --color3:#ffffff;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--color2);
    color:var(--color3);
}

.container{
    margin-left: 30px;
    /* padding: 10px; */
}

.botoes{
    display: flex;
    flex-direction: row;
}

.botao{
    cursor: pointer;
    border: none;

    max-width:max-content;
    /* width: 150px; */
    padding: 15px 30px;
    margin: 5px;
    font-size: 12px;

    background-color: #00000080;
    color: var(--color3);

    transition: all 0.3s ease;
}

.botao:hover{
    background-color: var(--color3);
    color: #000000bf;
}

.botao i{
    margin-right: 5px;
}

/* menu */

header .menu div{
    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    right:0;
    top:0;
    width: 100vw;
    padding: 10px;
    box-shadow: 0px 4px 12px -1px rgba(20,20,20,0.7);
    background-color: var(--color2);
    z-index: 30;
}

header .logo{
    color: var(--color1);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color:#aaa;
    margin-right: 10px;
}

header nav a:hover{
    color: #efff;
}

/* filme principal */

.filme-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    font-size: 16px;
    height: 400px;
    margin-bottom: 10px;
    
    background:linear-gradient(#00000080,#00000080), url('https://www.themoviedb.org/t/p/original/56v2KjBlU4XaOv9rVYEQypROD7P.jpg');

    background-repeat: no-repeat;
    background-position-y: 100%;
    background-size: cover;
}

.descricao-principal{
    max-width: 80%;
    margin-top: 10px;
    margin-bottom: 30px;
}

.titulo-principal{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    margin-top: 15%;
}

/* carossel */

.titulo-secundario{
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    /* color: var() */
}

.own{
    margin: 0px 0px 20px;
}

.own-item{
    margin: 0px 10px;
}