/* base */

:root{
    --color1:#E50914;
    --color2:#141414;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--color2);
    color:white;
}

.container{
    margin-left: 30px;
    padding: 10px;
}

.botao{
    cursor: pointer;
    border: none;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    background-color: #00000080;
    color: #ffffff;

    transition: all 0.3s ease;
}

.botao:hover{
    background-color: #ffffff;
    color: #000000bf;
}

.botao i{
    margin-right: 5px;
}

/* menu */

header .menu div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 12px -1px rgba(20,20,20,0.7);
    z-index: 30;
}

header .logo{
    color: var(--color1);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color:#aaa;
    margin-right: 10px;
}

header nav a:hover{
    color: #efff;
}

/* filme principal */

.filme-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    font-size: 16px;
    
    height: 400px;
    
    background:linear-gradient(#00000080,#00000080), url('https://www.themoviedb.org/t/p/original/56v2KjBlU4XaOv9rVYEQypROD7P.jpg');

    background-repeat: no-repeat;
    background-position-y: 100%;
    background-size: cover;
}

/* .filme-principal .pos{
    margin-left: 30px;
} */

.filme-principal .descricao{
    max-width: 80%;
    margin-top: 10px;
    margin-bottom: 30px;
}

.filme-principal .titulo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    margin-top: 15%;
}