/* base */

:root{
    --color1:#E50914;
    --color2:#141414;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--color2);
    font-family: 'Times New Roman', Times, serif;
    color:white;
}

/* menu */

header .conteiner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

header .logo{
    color: var(--color1);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color:#aaa;
    margin-right: 10px;
}

header nav a:hover{
    color: #efff;
}