<div classe="logo">
    <style>
        .before, .main{
            position: fixed;
        }
        .before{
            opacity: 0%;
            transition: all 1s;
        }

        *:hover > .before{
            opacity: 100%;
        }

    </style>   
    <img class="before" src="./images/logo_efect_128x60.png" alt="logo">
    <img class="main" src="./images/logo_128x60.png" alt="logo">
</div>